@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #f1f1f1;
}
html {
  scroll-behavior: smooth !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

p {
  @apply text-[16px];
}

h1,
button {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  @apply text-white;
}

h1 span {
  @apply text-[#FF0000];
}

.custom-container {
  @apply w-full max-w-[1240px] mx-auto px-8 py-14;
}

.slick-dots li {
  margin: 0 1px;
}

.slick-dots li button:before {
  @apply text-[#a5a5a5]; /* Default dot color */
}

.slick-dots li.slick-active button:before {
  @apply text-[#FF0000]; /* Active dot color */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
